.App{
    height: 100vh;
    width: 100vw;
    text-align: center;

}
.time{
    margin-top: 7rem;
    font-size: 4rem;
    color: darkcyan;
    
}
.inp{
    width: 100%;
    margin-top: 3rem;
}

input{
    width: 60%;
    padding: 0.1rem 0 0.1rem 0;
    background-color:#f5f5f5;
    border: none;
    font-size: 2rem;
    border-radius: 5px;
    outline: none;
}

.but{
    width: 100%;
}

.textcon{
    display: inline;
}
.text{
    min-height: 350px;
    max-height: 350px;
    width: 60%;
    background-color:antiquewhite;
    text-align: center;
    margin: 5rem auto;
    text-align: left;
    padding: 1rem;
    
    
}
.text span{
    font-size: 1.4rem;
    font-weight: 600;
    color: black;
}
button{
    width: 60%;
    padding: 0.1rem 0 0.1rem 0;
    border: none;
    margin-top: 3rem;
    background-color: #3e8ed0;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 5px;
    font-size: 2rem;
   
 

}
button:active{
 color: aquamarine;
 font: bold;
 transform: scale(1.1);
}
button:hover{
    color: aquamarine;
    font: bold;
   }


.result {
    display:flex;
    justify-content: center;
    padding: 2rem;


}

.result p{
    padding: 0 15rem 0 15rem;
    font-size: 2rem;
    color: darkcyan;
    font-weight: bold;
}

.green{
    background-color: green;
}
.red{
    background-color: red;
}

footer{
    margin-top: 20rem;
    color: black;
    font: bold;
    font-size: 1rem;
}

  footer p:hover{
    transform: scale(2);

}